<app-navbar [items]="items" (OpenEvernEmitter)="openCart()" />
<div class="container">
    <h2>Catalogo de productos</h2>
    <button (click)="openCart()" class="btn btn-primary">Mostrar carrito {{items.length}} </button>
    <div class="row">
        <div [className]="showCart ? 'col-8' : 'col-12'">
            <app-catalogo [products]="products" (productEventEmitter)="onAddCart($event)" />
        </div>
        @if (showCart) {
        <div class="col-4">
            @if (items.length > 0) {
            <app-cart [items]="items" [total]="total" (idProduct)="onDeleteCart($event)" />
            }@else {
            <div class="alert alert-warning">No hay elementos en el carrito</div>
            }
        </div>
        }
    </div>
</div>